@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Oswald&display=swap');

$baseYellow: #F5DF4D;
$baseGrey: #939597;
$fontColor: white;

// position

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: $baseGrey;
}

.log-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sign-form-wrap {
    box-shadow: 0px 0px 20px 0px $baseGrey;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 700px;
    max-width: 100%;
    min-height: 400px;
    
}

.sign-form__container {
    border: 1px solid red;
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 65ms ease-in-out;

    &.sign-in__container  {
        left: 0;
        width: 60%;
        z-index: 2;
    }

    &.sign-up__container  {
        left: 0;
        width: 60%;
        z-index: 1;
        opacity: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        padding: 0px 20px;

        input {
            padding: 10px 15px;
            margin: 15px 0;
            border: none;
            width: 100%;
            background-color: #ededee;
        }
    }
}

.greeting-container {
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: all 65ms ease-in-out;
    z-index: 100;

    .greeting {
        background-color: $baseYellow;
        position: relative;
        left: -150%;
        width: 250%;
        height: 100%;
        transform: translateX(0);
        transition: transform 65ms ease-in-out;

        .greeting-container__sign{
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 40%;
            text-align: center;
            transform: translateX(0);
            transition: transform 65ms ease-in-out;

            &.sign-in-greeting {
                right: 0;
                transform: translateX(0);
            }

            &.sign-up-greeting {
                transform: translateX(0);
            }
        }
    }
}

.sign-form__social {
    margin: 10px 0px;

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 1px solid $baseGrey;
        border-radius: 50%;
        margin: 0 10px
    }
}

button {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 10px 0;
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    background-color: $baseYellow;
    transition: transform 65ms ease-in;

    &:active {
        transform: scale(0.95);
    }

    &:focus {
        outline: none;
    }

    &.greeting__button {
        border: white;
        background-color: transparent;
    }
}

// style
form {
    h1 {
        font-size: 36px;
        font-weight: bold;
        color: $baseYellow;
        margin: 20px 0 10px;
    }

    a {
        color: $baseYellow;
        font-size: 14px;
    }

    svg {
        fill: $baseYellow;
        width: 20px;
        height: 20px;
    }

    p {
        font-size: 16px;
        font-weight: lighter;
        line-height: 16px;
        letter-spacing: 0.5px;
    }
}

// animation

.sign-form-wrap{
    &.form__sig-in_active {
        .sign-in__container {
            transform: translateX(100%);
        }

        .sign-up__container {
            transform: translateX(100%);
            opacity: 1;
            z-index: 5;
        }

        .greeting-container {
            transform: translateX(-100%);
        }
    }
}
